
#text{
    position:relative;
    height:auto;
    overflow:hidden;
    text-align:justify;
}

body{
    padding:1px;
}

img {
    position:relative;
    float:left;
    height:350px;
    width:auto;
    border:1pt solid #000000;
}

#spacer{
    height:200px;
    width:auto;
    background-color:yellow;
}
