
#text{
    position:relative;
    height:auto;
    overflow:hidden;
    text-align:justify;
}

img {
    position:relative;
    float:left;
    height:350px;
    width:auto;
}

#spacer{
    height:200px;
    width:auto;
    background-color:yellow;
}
